.footer {
    font-size: 13px;
    margin-top: 40px;
    margin-left: 10%;
}

.footer__box1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "subtitle1 subtitle2 subtitle3"
    "list1 list2 footer__logos";
    white-space: nowrap;
    line-height: 50px;
    border-top: 1px solid lightgray;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 90%;
}

.subtitle1 {
    grid-area: subtitle1;
}

.subtitle2 {
    grid-area: subtitle2;
}

.subtitle3 {
    grid-area: subtitle3;
}

.list1 {
    grid-area: list1;
}

.list2 {
    grid-area: list2;
}

.footer__logos{
    grid-area: footer__logos;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.footer__logos_icon{
    height: 55%;
}

.footer__subtitle {
    font-weight: 600;
}

.footer__box2 {
    border-top: 1px solid lightgray;
    width: 90%;
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    grid-template-rows: 700px;
    grid-template-areas:
    "logo2 box1Foooter box2Foooter";
    padding-top: 40px;
    column-gap: 1%;
}

.footer__logo2 {
    grid-area: logo2;    
}

.footer__logo2_img {
    width: 70px;
}

.identificacao1 {
    grid-area: box1Foooter;
}

.identificacao2 {
    grid-area: box2Foooter;
    padding-left: 10px;
}

