
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Noto Sans Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #47515b;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid lightgray;
}

.logo-ifood {
  width: 4%;
}

 main {
    width: 100%;
    max-width: 1200px;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    gap: 16%;
    padding-top: 20px;
 }

.lado__esquerdo {
  width: 580px;
}

h1 {
  font-weight: 600;
}

.caixa__botoes {
  padding: 40px 0 20px 0;
}

.entrega_vermelho {
  font-size: 17px;
  color: #ea1d2c;
  border-bottom: #ea1d2c 3px solid;
  padding-bottom: 10px;
}

.retirada {
  font-size: 17px;
  padding-left: 50px;
  color: #989898;
}

.caixa__endereco {
  padding: 20px 0 45px 0;
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "image rua trocar"
  "image cidade trocar";
}

.mapa__image {
  width: 80%;
  grid-area: image;
}

.seu__endereco-rua {
  font-weight: 500;
  grid-area: rua;
}

.seu__endereco-cidade {
  color:#8a8a8a;
  grid-area: cidade;
}

.btn__trocar {
  color: #ea1d2c;
  background-color: white;
  font-size: 14px;
  grid-area: trocar;
}

h3 {
  font-weight: 600;
  padding-bottom: 20px;
}

.caixa__entrega {
  width: 85%;
  border: #ea1d2c 1px solid;
  border-radius: 5px;
  padding: 10px 0 10px 20px;
}

.padrao {
  font-size: 14px;
  color: #ea1d2c;
  padding-bottom: 10px;
}

.hoje {
  font-size: 14px;
  padding-bottom: 5px;
}

.valor__entrega {
  font-size: 14px;
  font-weight: 600;
}

.pix {
  padding: 40px 0 40px 0;
}

.pague__site {
  font-size: 17px;
  color: #ea1d2c;
  padding-bottom: 10px;
  border-bottom: #ea1d2c 3px solid;
}

.pague__entrega {
  font-size: 17px;
  padding-left: 50px;
  color: #989898;
}

.caixa__pix {
  width: 87%;
  border: lightgray 1px solid;
  border-radius: 7px;
  padding: 25px 10px 20px 10px;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: 
  "imagePix paguePix"
  "imagePix pagueQR";
}

.caixa__pix:hover {
  border: none;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 23px -7px rgba(184,184,184,1);
  -moz-box-shadow: 0px 0px 23px -7px rgba(184,184,184,1);
  box-shadow: 0px 0px 23px -7px rgba(184,184,184,1);
}

.pix__image {
  padding: 10px 0 10px 10px;
  width: 60%;
  grid-area: imagePix;
}

.pague__pix {
  padding-bottom: 5px;
  font-weight: 500;
  grid-area: paguePix;
}

.use__QR {
  color: #989898;
}

.add__cartao {
  padding-top: 50px;
}

.cartao {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 20px 40px 40px;
  grid-template-areas: 
  "text1 imageCartao"
  "text2 imageCartao"
  "botao imageCartao";
  padding-bottom: 60px;
}

.cartao__text1 {
  font-size: 14px;
  color:#989898;
  grid-area: text1;
}

.cartao__text2 {
  font-size: 14px;
  color:#989898;
  grid-area: text2;
  padding-bottom: 20px;
}

.cartao__btn {
  font-weight: 600;
  font-size: 15px;
  color: #ea1d2c;
  padding: 15px;
  width: 300px;
  background-color: white;
  border: solid 1px lightgray;
  border-radius: 5px;
  grid-area: botao;
}

.cartao__image {
  height: 140%;
  grid-area: imageCartao;
}

.cpf-cnpj {
  width: 87%;
  border-top: lightgray solid 1px;
  padding: 30px 0 30px 0;
}

.input__cpf-cnpj{
  padding: 15px;
  width: 100%;
  border: lightgray solid 1px;
  border-radius: 5px;
}

input::placeholder {
  color: lightgray;
}

.fazer__pedido {
  padding: 15px;
  width: 100%;
  color: white;
  font-weight: 600;
  background-color: #ea1d2c;
  opacity: 35%;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 40px;
}

.lado__direito {
  width:420px ;
}

.geral {
    width: 100%;
    background-color: white;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 23px -7px rgba(184,184,184,1);
    -moz-box-shadow: 0px 0px 23px -7px rgba(184,184,184,1);
    box-shadow: 0px 0px 23px -7px rgba(184,184,184,1);
  }
  
  .sacola__vazia-image {
    padding: 50px 40px 40px 60px;
    width: 90%;
  }
  
  .sacola__vazia {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  
  .adicione__itens {
    font-size: 13px;
    text-align: center;
    padding: 15px;
  }
  
  .section_one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .seu__pedido {
    font-size: 14px;
    width: 100%;
  }
  
  .nome__restaurante {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
  }
  
  .ver__cardapio {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ea1d2c;
    font-weight: 400;
  }
  
  .mais__vendidos {
    padding-bottom: 10px;
    font-weight: 500;
  }
  
  .order {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid lightgray 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .order__value {
    font-weight: 600;
  }
  
  .btn__editar-remover {
    border-bottom: solid lightgray 1px;
    padding-bottom: 15px;
  }
  
  #btn-editar {
    background-color: white;
    color: #ea1d2c;
    cursor: pointer;
    font-weight: 600;
  }
  
  #btn-remover {
    background-color: white;
    color: #989898;
    font-weight: 600;
    margin-left: 50px;
    cursor: pointer;
  }
  
  .cupom {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-row: 1fr 1fr;
    grid-template-areas:
      "imagem texto1 seta"
      "imagem texto2 seta";
    border-bottom: solid lightgray 1px;
    padding: 15px 0 15px 10px;
  }
  
  .cupom__image {
    width: 50px;
    grid-area: imagem;
    justify-self: end;
    padding-right: 10px;
  }
  
  .cupom__titulo {
    font-weight: 600;
    grid-area: texto1;
    justify-self: start;
  }
  
  .cupom__codigo {
    font-size: 14px;
    grid-area: texto2;
    justify-self: start;
  }
  
  .cupom__arrow {
    transform: rotate(270deg);
    width: 20%;
    grid-area: seta;
    justify-self: end;
    align-self: center;
  }
  
  .subtotal {
    font-size: 14px;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .entrega {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .total__titulo {
    font-weight: 600;
  }
  
  #total__valor {
    font-weight: 600;
  }